This project investigates whether player characteristics such as age, gender, experience, and newsletter subscription status can predict how many hours a player contributes to the Minecraft server.

STEP 1: Loading Libraries and Visualizing Data

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Following this we can load and visualize the data

In [2]:
players <- read_csv("Data/players.csv")

head(players)
tail(players)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

  experience subscribe
1 Amateur     TRUE
2 Amateur     TRUE
3 Veteran    FALSE
4 Amateur    FALSE
5 Amateur    FALSE
6 Pro         TRUE
  hashedEmail                                                      played_hours
1 644fe4200c19a73768b3fa598afcbd0948f7557925b7f17166285da23af31cc6 0.0
2 b6e9e593b9ec51c5e335457341c324c34a2239531e1890b93ca52ac1dc76b08f 0.0
3 71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778b35c5802c3292c87bd 0.3
4 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb 0.0
5 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436 2.3
6 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11 0.2
  name   gender            Age
1 Rhys   Male              20
2 Bailey Female            17
3 Pascal Male              22
4 Dylan  Prefer not to say 17
5 Harlow Male              17
6 Ahmed  Other             NA

As shown above, the data contained player experience from Amateur to Pro, wether or not they are subscribed, the hashed email, their played hours, their names, gender and ages.

STEP 2: Data Cleaning and Preparation

Now that we have the data loaded we can see that it requires some cleaning, and since we are not using all the columns such as hashedEmail we can get rid of those.

In [7]:
players_clean <- select(players, -hashedEmail, -name)
head(players_clean)

  experience subscribe played_hours gender Age
1 Pro         TRUE     30.3         Male    9
2 Veteran     TRUE      3.8         Male   17
3 Veteran    FALSE      0.0         Male   17
4 Amateur     TRUE      0.7         Female 21
5 Regular     TRUE      0.1         Male   21
6 Amateur     TRUE      0.0         Female 17

Since our goal is to create a linear regression that attempts to predict played_hours using the other variables we need to turn variables such as experience, gender and subscription into factor variables.

In [9]:
players_clean <- players_clean |>
    mutate(
        experience = as.factor(experience),
        subscribe = as.factor(subscribe), 
        gender = as.factor(gender)) |>
    rename(age = Age)
head(players_clean)

  experience subscribe played_hours gender age
1 Pro        TRUE      30.3         Male    9
2 Veteran    TRUE       3.8         Male   17
3 Veteran    FALSE      0.0         Male   17
4 Amateur    TRUE       0.7         Female 21
5 Regular    TRUE       0.1         Male   21
6 Amateur    TRUE       0.0         Female 17

Now the variables we want to use are factors which will help with our linear regression. I also renamed Age to age for consistency in names